<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infragistics Marketing Dashboard</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/q")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
